.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  background-color: #fff9f1;
  border-radius: 6px;
  max-width: 300px;
}

.button {
  font-size: 13px;
  text-align: center;
  color: #fff9f1;
  outline: none;
  padding: 12px;
  box-shadow: 2px 5px 10px rgba(0,0,0,.1);
  background-color: #ffb238;
  border-radius: 6px;
  letter-spacing: 1.5px;
}